In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Read predicted data for all pollutants - CO, SO2, NO2, Ozone, PM2.5**

In [4]:
AQI_of_PM25 = pd.read_csv("/content/drive/MyDrive/FA21 CMPE 255 Term Project/PM2.5/PM2.5_AQI_Predicted",encoding="utf8")

In [5]:
AQI_of_PM25.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224624 entries, 0 to 224623
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     224624 non-null  int64
 1   State Code     224624 non-null  int64
 2   County Code    224624 non-null  int64
 3   Site Num       224624 non-null  int64
 4   Latitude       224624 non-null  float64
 5   Longitude      224624 non-null  float64
 6   month          224624 non-null  int64
 7   day            224624 non-null  int64
 8   year           224624 non-null  int64
 9   AQI predicted  224624 non-null  float64
dtypes: float64(3), int64(7)
memory usage: 17.1 MB

In [6]:
AQI_of_PM25['Parameter'] = "PM2.5"

In [7]:
AQI_of_SO2 = pd.read_csv("/content/drive/MyDrive/FA21 CMPE 255 Term Project/SO2/SO2_AQI_Predicted",encoding="utf8")

In [8]:
AQI_of_SO2['Parameter'] = "SO2"

In [9]:
AQI_of_SO2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420899 entries, 0 to 420898
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     420899 non-null  int64
 1   State Code     420899 non-null  int64
 2   County Code    420899 non-null  int64
 3   Site Num       420899 non-null  int64
 4   Latitude       420899 non-null  float64
 5   Longitude      420899 non-null  float64
 6   month          420899 non-null  int64
 7   day            420899 non-null  int64
 8   year           420899 non-null  int64
 9   AQI predicted  420899 non-null  float64
 10  Parameter      420899 non-null  object
dtypes: float64(3), int64(7), object(1)
memory usage: 35.3+ MB

In [10]:
AQI_of_CO = pd.read_csv("/content/drive/MyDrive/FA21 CMPE 255 Term Project/CO/CO_AQI_Predicted", encoding="utf8")
AQI_of_CO = AQI_of_CO.rename({'Month': 'month', 'Year': 'year', 'Day': 'day'}, axis=1)
AQI_of_CO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282107 entries, 0 to 282106
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State Code     282107 non-null  int64
 1   County Code    282107 non-null  int64
 2   Site Num       282107 non-null  int64
 3   Latitude       282107 non-null  float64
 4   Longitude      282107 non-null  float64
 5   month          282107 non-null  int64
 6   day            282107 non-null  int64
 7   year           282107 non-null  int64
 8   AQI predicted  282107 non-null  float64
 9   Parameter      282107 non-null  object
dtypes: float64(3), int64(6), object(1)
memory usage: 21.5+ MB

In [11]:
AQI_of_Ozone = pd.read_csv("/content/drive/MyDrive/FA21 CMPE 255 Term Project/Ozone/Ozone_AQI_Predicted",encoding="utf8")

In [12]:
AQI_of_Ozone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189467 entries, 0 to 1189466
Data columns (total 10 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   State Code     1189467 non-null  int64
 1   County Code    1189467 non-null  int64
 2   Site Num       1189467 non-null  int64
 3   Latitude       1189467 non-null  float64
 4   Longitude      1189467 non-null  float64
 5   month          1189467 non-null  int64
 6   day            1189467 non-null  int64
 7   year           1189467 non-null  int64
 8   AQI predicted  1189467 non-null  float64
 9   Parameter      1189467 non-null  object
dtypes: float64(3), int64(6), object(1)
memory usage: 90.7+ MB

In [13]:
AQI_of_NO2 = pd.read_csv("/content/drive/MyDrive/FA21 CMPE 255 Term Project/NO2/NO2_AQI_Predicted",encoding="utf8")

In [14]:
AQI_of_NO2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408382 entries, 0 to 408381
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State Code     408382 non-null  int64
 1   County Code    408382 non-null  int64
 2   Site Num       408382 non-null  int64
 3   Latitude       408382 non-null  float64
 4   Longitude      408382 non-null  float64
 5   month          408382 non-null  int64
 6   day            408382 non-null  int64
 7   year           408382 non-null  int64
 8   AQI predicted  408382 non-null  float64
 9   Parameter      408382 non-null  object
dtypes: float64(3), int64(6), object(1)
memory usage: 31.2+ MB

**Concatenate pollutant predicted AQI levels**

In [15]:
newresult = pd.concat([AQI_of_PM25, AQI_of_SO2, AQI_of_CO, AQI_of_NO2, AQI_of_Ozone], ignore_index=True)

In [16]:
newresult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2525479 entries, 0 to 2525478
Data columns (total 11 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     float64
 1   State Code     int64
 2   County Code    int64
 3   Site Num       int64
 4   Latitude       float64
 5   Longitude      float64
 6   month          int64
 7   day            int64
 8   year           int64
 9   AQI predicted  float64
 10  Parameter      object
dtypes: float64(4), int64(6), object(1)
memory usage: 211.9+ MB

In [17]:
newresult

         Unnamed: 0  State Code  County Code  ...  year  AQI predicted  Parameter
0               0.0           1            3  ...  2018      32.350743      PM2.5
1               1.0           1            3  ...  2018      34.262689      PM2.5
2               2.0           1            3  ...  2018      16.198026      PM2.5
3               3.0           1            3  ...  2018      19.920814      PM2.5
4               4.0           1            3  ...  2018      25.563788      PM2.5
...             ...         ...          ...  ...   ...            ...        ...
2525474         NaN          80           26  ...  2020      75.598579      Ozone
2525475         NaN          80           26  ...  2020      47.017103      Ozone
2525476         NaN          80           26  ...  2020      78.899324      Ozone
2525477         NaN          80           26  ...  2020      48.669978      Ozone
2525478         NaN          80           26  ...  2020      44.908507      Ozone

[2525479 rows x 11 columns]

**Group By Site Number to get maximum value in a day for a 
site within any county**

In [18]:
result = newresult.groupby(['State Code','County Code','year','month','day', 'Site Num']).agg({"AQI predicted":['max']})
result.columns = ['AQI']
result.reset_index()
result.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1551627 entries, (1, 3, 2018, 1, 2, 10) to (80, 26, 2020, 5, 25, 8012)
Data columns (total 1 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   AQI     1551627 non-null  float64
dtypes: float64(1)
memory usage: 23.7 MB

**Get the mean AQI within a county site**

In [19]:
meanResultDf = pd.DataFrame()
meanresult = result.groupby(['State Code','County Code','year','month', 'Site Num']).agg({"AQI":['mean']},as_index=False)
meanresult.columns = ['Monthly_mean_AQI']
meanResultDf = meanresult.reset_index()
meanResultDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58035 entries, 0 to 58034
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State Code        58035 non-null  int64
 1   County Code       58035 non-null  int64
 2   year              58035 non-null  int64
 3   month             58035 non-null  int64
 4   Site Num          58035 non-null  int64
 5   Monthly_mean_AQI  58035 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 2.7 MB

**Read the US census data to get population values for each county**

In [20]:
populationInfo = pd.read_csv("/content/drive/MyDrive/FA21 CMPE 255 Term Project/co-est2020.csv",encoding="ISO-8859-1")
populationInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SUMLEV             3194 non-null   int64
 1   REGION             3194 non-null   int64
 2   DIVISION           3194 non-null   int64
 3   STATE              3194 non-null   int64
 4   COUNTY             3194 non-null   int64
 5   STNAME             3194 non-null   object
 6   CTYNAME            3194 non-null   object
 7   CENSUS2010POP      3194 non-null   object
 8   ESTIMATESBASE2010  3194 non-null   int64
 9   POPESTIMATE2010    3194 non-null   int64
 10  POPESTIMATE2011    3194 non-null   int64
 11  POPESTIMATE2012    3194 non-null   int64
 12  POPESTIMATE2013    3194 non-null   int64
 13  POPESTIMATE2014    3194 non-null   int64
 14  POPESTIMATE2015    3194 non-null   int64
 15  POPESTIMATE2016    3194 non-null   int64
 16  POPESTIMATE2017    3194 non-null   int64
 17  POPESTIMATE2018    3194 non-null   int64
 18  POPESTIMATE2019    3194 non-null   int64
 19  POPESTIMATE042020  3194 non-null   int64
 20  POPESTIMATE2020    3194 non-null   int64
dtypes: int64(18), object(3)
memory usage: 524.1+ KB

**Merge census data with predicted AQI data**

In [21]:
merged_df = meanResultDf.merge(populationInfo, how='inner', left_on=["State Code", "County Code"], right_on=["STATE", "COUNTY"])
merged_df.info()
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57705 entries, 0 to 57704
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State Code         57705 non-null  int64
 1   County Code        57705 non-null  int64
 2   year               57705 non-null  int64
 3   month              57705 non-null  int64
 4   Site Num           57705 non-null  int64
 5   Monthly_mean_AQI   57705 non-null  float64
 6   SUMLEV             57705 non-null  int64
 7   REGION             57705 non-null  int64
 8   DIVISION           57705 non-null  int64
 9   STATE              57705 non-null  int64
 10  COUNTY             57705 non-null  int64
 11  STNAME             57705 non-null  object
 12  CTYNAME            57705 non-null  object
 13  CENSUS2010POP      57705 non-null  object
 14  ESTIMATESBASE2010  57705 non-null  int64
 15  POPESTIMATE2010    57705 non-null  int64
 16  POPESTIMATE2011    57705 non-null  int64
 17  POPESTIMATE2012    57705 non-null  int64
 18  POPESTIMATE2013    57705 non-null  int64
 19  POPESTIMATE2014    57705 non-null  int64
 20  POPESTIMATE2015    57705 non-null  int64
 21  POPESTIMATE2016    57705 non-null  int64
 22  POPESTIMATE2017    57705 non-null  int64
 23  POPESTIMATE2018    57705 non-null  int64
 24  POPESTIMATE2019    57705 non-null  int64
 25  POPESTIMATE042020  57705 non-null  int64
 26  POPESTIMATE2020    57705 non-null  int64
dtypes: float64(1), int64(23), object(3)
memory usage: 12.3+ MB

   State Code  County Code  ...  POPESTIMATE042020  POPESTIMATE2020
0           1            3  ...             227989           229287
1           1            3  ...             227989           229287
2           1            3  ...             227989           229287
3           1            3  ...             227989           229287
4           1            3  ...             227989           229287

[5 rows x 27 columns]

**Choose appropriate population for each county by year**

In [22]:
merged_df['Population'] = 0
for i in range(0,len(merged_df)):
  if merged_df.at[i,'year'] == 2018:
    merged_df.at[i,'Population'] = merged_df.at[i,'POPESTIMATE2018']
  elif merged_df.at[i,'year'] == 2019:
    merged_df.at[i,'Population'] = merged_df.at[i,'POPESTIMATE2019']
  elif merged_df.at[i,'year'] == 2020:
    merged_df.at[i,'Population'] = merged_df.at[i,'POPESTIMATE2020']

In [23]:
merged_df = merged_df[['State Code', 'County Code', 'year', 'month', 'Monthly_mean_AQI', 'STNAME', 'CTYNAME', 'Population', 'Site Num']]

In [24]:
merged_df.info()
# merged_df.to_csv("/content/drive/MyDrive/FA21 CMPE 255 Term Project/PredictedAQIData.csv")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57705 entries, 0 to 57704
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State Code        57705 non-null  int64
 1   County Code       57705 non-null  int64
 2   year              57705 non-null  int64
 3   month             57705 non-null  int64
 4   Monthly_mean_AQI  57705 non-null  float64
 5   STNAME            57705 non-null  object
 6   CTYNAME           57705 non-null  object
 7   Population        57705 non-null  int64
 8   Site Num          57705 non-null  int64
dtypes: float64(1), int64(6), object(2)
memory usage: 6.9+ MB

**Read Site Information and preprocess it to merge with AQI data**

In [25]:
siteInfo = pd.read_csv("/content/drive/MyDrive/FA21 CMPE 255 Term Project/aqs_sites.csv")
siteInfo['State Code'].unique()

array(['01', '02', '04', '05', '06', '08', '09', '10', '11', '12', '13',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48',
       '49', '50', '51', '53', '54', '55', '56', '66', '72', '78', '80',
       'CC'], dtype=object)

In [26]:
siteInfo = siteInfo[siteInfo['State Code'] != 'CC']
siteInfo['State Code'].unique()

array(['01', '02', '04', '05', '06', '08', '09', '10', '11', '12', '13',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48',
       '49', '50', '51', '53', '54', '55', '56', '66', '72', '78', '80'],
      dtype=object)

In [27]:
siteInfo['State Code'] = pd.to_numeric(siteInfo['State Code'])
siteInfo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20726 entries, 0 to 20725
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   State Code             20726 non-null  int64
 1   County Code            20726 non-null  int64
 2   Site Number            20726 non-null  int64
 3   Latitude               20720 non-null  float64
 4   Longitude              20721 non-null  float64
 5   Datum                  20726 non-null  object
 6   Elevation              20726 non-null  float64
 7   Land Use               19583 non-null  object
 8   Location Setting       19715 non-null  object
 9   Site Established Date  20726 non-null  object
 10  Site Closed Date       15813 non-null  object
 11  Met Site State Code    350 non-null    float64
 12  Met Site County Code   350 non-null    float64
 13  Met Site Site Number   350 non-null    float64
 14  Met Site Type          2033 non-null   object
 15  Met Site Distance      553 non-null    float64
 16  Met Site Direction     508 non-null    object
 17  GMT Offset             20726 non-null  int64
 18  Owning Agency          20726 non-null  object
 19  Local Site Name        5759 non-null   object
 20  Address                20723 non-null  object
 21  Zip Code               10635 non-null  float64
 22  State Name             20726 non-null  object
 23  County Name            20726 non-null  object
 24  City Name              20726 non-null  object
 25  CBSA Name              18128 non-null  object
 26  Tribe Name             253 non-null    object
 27  Extraction Date        20726 non-null  object
dtypes: float64(8), int64(4), object(16)
memory usage: 4.6+ MB

In [28]:
# site_df = pd.merge(meanResultDf,siteInfo[['State Code', 'County Code','Land Use', 'Location Setting']], how='inner', left_on=["State Code", "County Code"], right_on=["State Code", "County Code"])
# site_df.info()

merged_df = pd.merge(merged_df,siteInfo[['State Code', 'County Code','Site Number','Land Use', 'Location Setting']], how='inner', left_on=["State Code", "County Code", "Site Num"], right_on=["State Code", "County Code", "Site Number"])
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57705 entries, 0 to 57704
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State Code        57705 non-null  int64
 1   County Code       57705 non-null  int64
 2   year              57705 non-null  int64
 3   month             57705 non-null  int64
 4   Monthly_mean_AQI  57705 non-null  float64
 5   STNAME            57705 non-null  object
 6   CTYNAME           57705 non-null  object
 7   Population        57705 non-null  int64
 8   Site Num          57705 non-null  int64
 9   Site Number       57705 non-null  int64
 10  Land Use          57456 non-null  object
 11  Location Setting  57570 non-null  object
dtypes: float64(1), int64(7), object(4)
memory usage: 5.7+ MB

In [29]:
merged_df = merged_df.drop_duplicates()
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57705 entries, 0 to 57704
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State Code        57705 non-null  int64
 1   County Code       57705 non-null  int64
 2   year              57705 non-null  int64
 3   month             57705 non-null  int64
 4   Monthly_mean_AQI  57705 non-null  float64
 5   STNAME            57705 non-null  object
 6   CTYNAME           57705 non-null  object
 7   Population        57705 non-null  int64
 8   Site Num          57705 non-null  int64
 9   Site Number       57705 non-null  int64
 10  Land Use          57456 non-null  object
 11  Location Setting  57570 non-null  object
dtypes: float64(1), int64(7), object(4)
memory usage: 5.7+ MB

**Save the dataframe to generate tableau visualization**

In [30]:
merged_df.to_csv("/content/drive/MyDrive/FA21 CMPE 255 Term Project/Combined Pollutants/PredictedAQIData.csv")

In [31]:
# test = df.read_csv("/content/drive/MyDrive/FA21 CMPE 255 Term Project/PredictedAQIData.csv")